@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

dl,
ol,
ul {
  margin: 0;
  padding: 0;
}

.swal-button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
}

nav {
  z-index: 100;
  width: 100%;
  background: #242526;
  top: 0;
}

.wrapper {
  position: relative;
  max-width: 1300px;
  padding: 0px 30px;
  margin: auto auto;
  height: 70px;
  gap: 4rem !important;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.wrapper .nav-links {
  margin: auto;
  width: 90%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 15px;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  border-bottom: 3px solid #f2f2f2;
  transition: none;
}

.nav-links li:hover .mega-box {
  transition: all 0.3s ease;
  top: 70px;
  opacity: 1;
  visibility: visible;
}

.mega-box {
  z-index: 100;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 0 30px;
  top: 85px;
  opacity: 0;
  visibility: hidden;
}

.mega-box .contents {
  background: #242526;
  padding: 25px 20px;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mega-box .contents .row {
  width: calc(25% - 30px);
  line-height: 45px;
}

.contents .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contents .row header {
  color: #f2f2f2;
  font-size: 20px;
  font-weight: 500;
}

.contents .row .mega-links {
  margin-left: -40px;
  border-left: 1px solid rgba(255, 255, 255, 0.09);
}

.row .mega-links li {
  padding: 0 20px;
}

.row .mega-links li p {
  padding: 0px;
  padding: 0 10px;
  color: white;
  font-size: 18px;
  display: block;
}

.row .mega-links li p:hover {
  cursor: pointer;
}

.wrapper .btnM {
  margin-right: 10px;
  text-align: end;
  width: 700px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  display: none;
}

.wrapper .btnM.close-btn {
  position: absolute;
  right: 30px;
  top: 10px;
}

.mobile-item {
  padding: 0 !important;
}
.mobile-item a {
  padding-left: 20px !important;
  color: #f2f2f2 !important;
}

@media screen and (max-width: 970px) {
  .wrapper .btnM {
    display: block;
  }
  .wrapper .nav-links {
    z-index: 100;
    position: fixed;
    height: 100vh;
    width: 100%;
    max-width: 350px;
    top: 0;
    left: -100%;
    background: #242526;
    display: block;
    padding: 50px 10px;
    line-height: 50px;
    overflow-y: auto;
    box-shadow: 0px 15px 15px rgba(0, 0, 0, 0.18);
    transition: all 0.3s ease;
  }
  /* custom scroll bar */
  #menu-btn:checked ~ .nav-links {
    left: 0%;
  }
  #menu-btn:checked ~ .btnM.menu-btn {
    display: none;
  }
  #close-btn:checked ~ .btnM.menu-btn {
    display: block;
  }
  .nav-links li {
    margin: 15px 10px;
  }
  .nav-links li a {
    padding: 0 20px;
    display: block;
    font-size: 20px;
  }
  #showMega:checked ~ .mega-box {
    max-height: 100%;
  }
  .nav-links .mobile-item {
    display: block;
    color: #f2f2f2;
    font-size: 20px;
    font-weight: 500;
    padding-left: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .mega-box {
    position: static;
    top: 65px;
    opacity: 1;
    visibility: visible;
    padding: 0 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 0.3s ease;
  }
  .mega-box .contents {
    box-shadow: none;
    flex-direction: column;
    padding: 20px 20px 0 20px;
  }
  .mega-box .contents .row {
    width: 100%;
    margin-bottom: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
  .mega-box .contents .row:nth-child(1),
  .mega-box .contents .row:nth-child(2) {
    border-top: 0px;
  }
  .contents .row .mega-links {
    border-left: 0px;
    padding-left: 15px;
  }
  .row .mega-links li {
    margin: 0;
  }
  .contents .row header {
    font-size: 19px;
  }
}
nav input {
  display: none;
}

.body-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 0 30px;
}

.body-text div {
  font-size: 45px;
  font-weight: 600;
}

.cotizacionUSD {
  font-size: 1.1rem;
  margin-bottom: 0;
}

.contenedorDeTarjetas {
  margin-top: 30px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.tarjeta {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 380px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.tarjeta h1 {
  font-size: 1.5rem;
}

.tarjeta p {
  font-size: 1.2rem;
}

.tarjeta img {
  width: 100%;
}

.precio {
  color: green;
  font-weight: bold;
}

.tarjeta button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.tarjeta button:hover {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .contenedorDeTarjetas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1200px) {
  .contenedorDeTarjetas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
.btn {
  color: white;
  border: none;
}
.btn:hover {
  color: white;
}
.btn:focus {
  box-shadow: none;
}
.btn-close:focus {
  box-shadow: none;
}

.btn .badge {
  top: 10px;
}

#contenedorCarrito {
  overflow-Y: scroll;
}

.offcanvas-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: start;
}

#imagenProducto {
  width: 120px;
  height: 120px;
  grid-column: 1/2;
  grid-row: 2;
  border: 1px solid rgb(105, 105, 105);
  margin-bottom: 30px;
}

#precioProducto {
  margin-bottom: 40px;
  font-size: 1.2rem;
  grid-column: 2/3;
  grid-row: 2;
  font-weight: bold;
}

#nombreProducto {
  font-weight: bold;
  font-size: 1.4rem;
  grid-column: 1/3;
  grid-row: 1;
  margin-top: 40px;
}

.cantidad {
  font-size: 1.2rem;
}

.btnFinalizarCompra {
  background: #000;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
}
.btnFinalizarCompra:hover {
  background-color: #555555;
}

.btnEliminar {
  border: none;
  background: none;
  font-size: 1rem;
}
.btnEliminar:hover {
  font-weight: 700;
}

#precioTotal {
  font-weight: bold;
  font-size: 1.3rem;
}

.contenedorProducto {
  background: #f6f6f6;
  box-shadow: 5px 5px 15px rgba(153, 151, 151, 0.5);
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 900px;
  height: 900px;
  margin: 30px auto;
}

.contenedorProducto .imgBx {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
  transition: 0.3s linear;
  margin-top: 60px;
}

.contenedorProducto .imgBx:before {
  position: absolute;
  top: 0px;
  left: 24px;
  color: #000;
  opacity: 0.2;
  font-size: 8em;
  font-weight: 800;
}

.contenedorProducto .imgBx img {
  position: relative;
  width: 500px;
}

.contenedorProducto .detalles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
}

.contenedorProducto .detalles h2 {
  margin-bottom: 10px;
  padding: 0;
  font-size: 2.4em;
  line-height: 1em;
  color: #444;
}

.contenedorProducto .detalles p {
  max-width: 85%;
  margin-left: 15%;
  color: #333;
  font-size: 15px;
  margin-bottom: 36px;
}

.contenedorProducto .detalles h4 {
  font-size: 2em;
  color: #a2a2a2;
}

.contenedorProducto .detalles h3 {
  margin: 0;
  padding: 0;
  font-size: 2.5em;
  color: #a2a2a2;
  float: left;
}

.contenedorProducto .detalles .btnAgregar {
  background: #000;
  color: #fff;
  border: none;
  outline: none;
  padding: 15px 20px;
  margin-top: 5px;
  font-size: 16px;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 40px;
  float: right;
}
.contenedorProducto .detalles .btnAgregar:hover {
  background-color: #555555;
}

.imgBx-bis {
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.imgBx-bis .cambioImagen {
  width: 70px !important;
  height: 70px !important;
  border: 1px solid rgb(134, 134, 134);
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(153, 151, 151, 0.5);
}

.cambioImagen:hover {
  width: 75px !important;
  height: 75px !important;
  border: 2px solid rgb(134, 134, 134);
  transition: all 0.3s;
  cursor: pointer;
}

.contenedorInformacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* responsive */
@media (max-width: 1080px) {
  .contenedorProducto {
    height: auto;
  }
  .contenedorProducto .imgBx {
    padding: 40px;
    box-sizing: border-box;
    width: 100% !important;
    height: auto;
    text-align: center;
    overflow: hidden;
  }
  .contenedorProducto .imgBx img {
    left: initial;
    max-width: 100%;
  }
  .detalles {
    width: 100% !important;
    height: auto;
    padding: 20px;
  }
  .contenedorProducto .detalles p {
    margin-left: 0;
    max-width: 100%;
  }
}
.contenedorCantidad {
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedorCantidad .cantidadValor {
  font-size: 1.3rem !important;
  padding: 10px;
  margin: 5px !important;
}
.contenedorCantidad .btnCantidad {
  font-size: 1.4rem;
  width: 40px;
  height: 40px;
  background: #000;
  color: #fff;
  border: none;
  outline: none;
  font-weight: 600;
  border-radius: 40px;
}
.contenedorCantidad .btnCantidad:hover {
  background-color: #555555;
}

.contenedorPrincipalMediosPago {
  margin: 30px auto;
  background: #f6f6f6;
  box-shadow: 5px 5px 15px rgba(153, 151, 151, 0.5);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  width: 800px;
  height: 600px;
}
.contenedorPrincipalMediosPago input {
  padding: 10px;
  border: 1px solid rgb(136, 136, 136);
}
.contenedorPrincipalMediosPago .nombreTarjeta {
  color: rgb(180, 178, 178);
  font-style: italic;
}
.contenedorPrincipalMediosPago .contenedorFormulario {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 400px;
}
.contenedorPrincipalMediosPago .contenedorFormulario .fechaYCodigoSeguridad {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
.contenedorPrincipalMediosPago .contenedorFormulario .fechaYCodigoSeguridad input {
  margin-top: 10px;
  width: 150px;
}
.contenedorPrincipalMediosPago input {
  height: 40px;
}

.listaDeProductos {
  width: 40%;
  height: 100%;
  border-left: 1px solid rgb(156, 156, 156);
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin: auto;
}

.contenedorMediosPago {
  margin: auto;
  text-align: start;
}
.contenedorMediosPago__text {
  font-size: 2rem;
  text-align: center;
}
.contenedorMediosPago .dropdown {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedorMediosPago .dropdown .btn {
  font-size: 1.3rem;
  color: #f6f6f6;
}
.contenedorMediosPago .dropdown .dropdown-item {
  font-size: 1.3rem;
}
.contenedorMediosPago .mediosDePagoDetalles .tarjetaCredido {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.contenedorMediosPago .mediosDePagoDetalles .informacionCuotas li {
  font-weight: 500;
  list-style: none;
  color: green;
}
.contenedorMediosPago .mediosDePagoDetalles .tarjetaDebito {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.contenedorMediosPago .mediosDePagoDetalles .pagoEnEfectivo {
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.contenedorMediosPago .mediosDePagoDetalles .informacionPagoEfectivo {
  font-size: 1.2rem;
  color: green;
}
.contenedorMediosPago .mediosDePagoDetalles .mediosDePago {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.pagoEfectivo {
  width: 300px;
  margin: 50px 50px;
  font-size: 1.2rem;
}
.pagoEfectivo .transferencia {
  list-style: none;
  margin-top: 70px;
}
.pagoEfectivo .transferencia span {
  font-weight: bold;
}
.pagoEfectivo .transferencia li {
  margin-top: 30px;
}
.pagoEfectivo .efectivo {
  list-style: none;
  margin-top: 30px;
}
.pagoEfectivo .efectivo li {
  margin-top: 30px;
}
.pagoEfectivo .efectivo li span {
  font-weight: bold;
}

.contenedorFooter {
  margin-top: 40px;
  height: 180px;
  width: 100%;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 40px;
}
.contenedorFooter .redes {
  display: flex;
  gap: 3rem;
}
.contenedorFooter svg {
  filter: invert(75%);
}
.contenedorFooter svg:hover {
  filter: invert(100%);
}
.contenedorFooter h4 {
  color: #fff;
}

/*# sourceMappingURL=styles.css.map */
