.contenedorProducto {
    background: #f6f6f6;
    box-shadow: 5px 5px 15px rgba(153, 151, 151, 0.5);
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 900px;
    height: 900px;
    margin: 30px auto;
}

.contenedorProducto .imgBx {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 100%;
    transition: .3s linear;
    margin-top: 60px;
}

.contenedorProducto .imgBx:before {
    position: absolute;
    top: 0px;
    left: 24px;
    color: #000;
    opacity: 0.2;
    font-size: 8em;
    font-weight: 800;
}

.contenedorProducto .imgBx img {
    position: relative;
    width: 500px;
}

.contenedorProducto .detalles {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
}

.contenedorProducto .detalles h2 {
    margin-bottom: 10px;
    padding: 0;
    font-size: 2.4em;
    line-height: 1em;
    color: #444;
}

.contenedorProducto .detalles p {
    max-width: 85%;
    margin-left: 15%;
    color: #333;
    font-size: 15px;
    margin-bottom: 36px;
}

.contenedorProducto .detalles h4 {
    font-size: 2em;
    color: #a2a2a2;
}

.contenedorProducto .detalles h3 {
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    color: #a2a2a2;
    float: left;
}

.contenedorProducto .detalles .btnAgregar {
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: 15px 20px;
    margin-top: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 40px;
    float: right;

    &:hover{
        background-color: #555555;
    }
}

.imgBx-bis {
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.imgBx-bis .cambioImagen {
    width: 70px !important;
    height: 70px !important;
    border: 1px solid rgb(134, 134, 134);
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(153, 151, 151, 0.5);
}

.cambioImagen:hover {
    width: 75px !important;
    height: 75px !important;
    border: 2px solid rgb(134, 134, 134);
    transition: all .3s;
    cursor: pointer;
}

.contenedorInformacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

/* responsive */
@media (max-width: 1080px) {
    .contenedorProducto {
        height: auto;
    }

    .contenedorProducto .imgBx {
        padding: 40px;
        box-sizing: border-box;
        width: 100% !important;
        height: auto;
        text-align: center;
        overflow: hidden;
    }

    .contenedorProducto .imgBx img {
        left: initial;
        max-width: 100%;
    }

    .detalles {
        width: 100% !important;
        height: auto;
        padding: 20px;
    }

    .contenedorProducto .detalles p {
        margin-left: 0;
        max-width: 100%;
    }
}

.contenedorCantidad{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

    .cantidadValor{
        font-size: 1.3rem !important;
        padding: 10px;
        margin: 5px !important;
    }

    .btnCantidad{
        font-size: 1.4rem;
        width: 40px;
        height: 40px;
        background: #000;
        color: #fff;
        border: none;
        outline: none;
        font-weight: 600;
        border-radius: 40px;

        &:hover{
            background-color: #555555;
        }
    }
}

