.btn {
    color: white;
    border: none;

    &:hover {
        color: white;
    }

    &:focus {
        box-shadow: none;
    }

    &-close {
        &:focus {
            box-shadow: none;
        }
    }
}

.btn .badge {
    top: 10px;
}

#contenedorCarrito{
    overflow-Y: scroll;
}

.offcanvas-body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: start;
}

#imagenProducto {
    width: 120px;
    height: 120px;
    grid-column: 1/2;
    grid-row: 2;
    border: 1px solid rgb(105, 105, 105);
    margin-bottom: 30px;
}

#precioProducto {
    margin-bottom: 40px;
    font-size: 1.2rem;
    grid-column: 2/3;
    grid-row: 2;
    font-weight: bold;
}

#nombreProducto {
    font-weight: bold;
    font-size: 1.4rem;
    grid-column: 1/3;
    grid-row: 1;
    margin-top: 40px;
}

.cantidad{
    font-size: 1.2rem;
}

.btnFinalizarCompra {
    background: #000;
    color: #fff;
    border: none;
    outline: none;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;

    &:hover{
        background-color: #555555;
    }
}

.btnEliminar{
    border: none;
    background: none;
    font-size: 1rem;

    &:hover{
        font-weight: 700;
    }
}

#precioTotal{
    font-weight: bold;
    font-size: 1.3rem;
}